@model IEnumerable<MVC.ViewModels.Producto.ViewModelProducto>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
           
            @Html.ActionLink(linkText:"Importar", actionName: "Create", controllerName: "Importacion",routeValues: new { codigo = item.Codigo },htmlAttributes: null) |
            
           
        </td>
    </tr>
}

</table>
